# Ignore temporary and log files and dirs
log/*
cache/*
!/log/.htaccess
/.sass-cache/
/.*.cache

# Ignore private local files
*.local.*

# Ignore npm & composer-managed libraries
/vendor/
/node_modules/

# Ignore Composer lock file to support environments running different PHP versions
/composer.lock
/package-lock.json

# Ignore IDE files
/nbproject/
/.idea/

# Ignore db tools
adminer*.php

# Ignore image win/mac auxiliary files
thumbs.db
__MACOSX/
