            <p>Contact us: contact@example.com</p>
            <p>Follow us on social media</p>
            <!-- Social media links -->
{* when a default template is triggered, e.g. in /user *}
<p>&copy; 2023{if date('Y')>2023}–{date('Y')}{/if} WorkOfStan</p>
