{* template latte where app version should be used instead of library version *}
{layout '../vendor/seablast/seablast/views/BlueprintWeb.latte'}
{block mainblock}
    <div>
Welcome HOME
{* SCAFFOLDIFY:REMOVE-START dist-demo *}
<br>
Title: {$title}
Num: {$num}
{* SCAFFOLDIFY:REMOVE-END dist-demo *}
    </div>
{/block}
