                {* TODO JavaScript to toggle menu *}
                <!-- Hamburger menu for mobile -->
                <div id="hamburger-menu">☰</div>
                <ul id="menu">
                    <li><a href="#">HOME DIST</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Services</a></li>
                    <li><a href="#">Contact</a></li>
                    <li><a href="#">TestNav</a></li>
                </ul>
