{* template latte where app version should be used instead of library version *}
{layout '../vendor/seablast/seablast/templates/BlueprintWeb.latte'}
{block mainblock}
    <div>
Welcome HOME
<br>
Title: {$title}
Num: {$num}
    </div>
{/block}

