{* template latte where app version should be used instead of library version *}
{layout '../vendor/seablast/seablast/templates/BlueprintWeb.latte'}
{block mainblock}
    <div>
APP ITEM
    </div>
{/block}
